<!--
SPLAYweb
Copyright 2006 - 2008 Lorenzo Leonini (University of Neuchâtel, Switzerland)
All rights reserved.
-->

<h1>Editing job</h1>

<% form_tag :action => 'update', :id => @job do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @job %> |
<%= link_to 'Back', :action => 'list' %>
