<%= link_to 'List', :action => 'list' %>

<h1>Submit a new Splay Job</h1>

<% form_tag({:action => 'create'}, {:multipart => true}, :html=> {:id => 'myform'}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>
