<%= link_to 'List', :action => 'list' %>

<h1>New Job Resources Request</h1>

<% form_tag({:action => 'create'}, {:multipart => true}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>
