body {
  background: #bbd9f3 url("/images/layout/deg.jpg") repeat-x top left;
  font-family: Arial, sans-serif;
  margin:0;
}

#container {
	padding: 0;
  width: 960px;
  margin: 0 auto;
  position: relative;
  background: #ffffff;
}

#masthead {
	background: transparent url("/images/layout/top_logo.jpg") no-repeat top left;
  height: 70px;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
}

#content {
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 50px;
}

#top_nav .text {
	background: white;
}

#copy {
	color: white;
	width: 100%;
	padding-top: 10px;
	text-align: center
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

div.preview {
	background-color: #FF0000;
	color: white;
	margin: 20px;
	width: 870px;
	padding: 10px;
	font-weight: bold;
}

.highlight {
	background-color: yellow;
}

#copy {
  font-size: 8px;
	font-weight: bold;
	color: black;
}

#table_list_jobs {
	border-collapse: collapse;
	width: 940px;
}

#table_list_jobs th {
	text-align: center;
	background-color: #DDDDDD;
	padding: 3px;
}

#table_list_jobs td {
	text-align: right;
	padding: 3px;
}

#table_list_jobs td.status {
	background-color: yellow;
}

#table_list_jobs td.kill {
	background-color: #FFCCCC;
}

#table_list_splayds {
	border-collapse: collapse;
	width: 940px;
}

#table_list_splayds th {
	text-align: center;
	background-color: #DDDDDD;
	padding: 3px;
}

#table_list_splayds td {
	text-align: right;
	padding: 3px;
}

.smart_table {
  padding: 0;
  margin: 0;
}

.smart_table caption {
  padding: 0 0 5px 0;
  width: 700px;  
  font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-align: right;
}

.smart_table th {
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #4f6b72;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #CAE8EA url(/images/bg_header.jpg) no-repeat;
}

.smart_table tr.odd > td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #fff;
  padding: 6px 6px 6px 12px;
  color: #4f6b72;
}


.smart_table tr.even > td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #F5FAFA;
  padding: 6px 6px 6px 12px;
  color: #797268;
}

.smart_table tr.odd > th {
  border-left: 1px solid #C1DAD7;
  border-top: 0;
  background: #fff url(/images/bullet1.gif) no-repeat;
  font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.smart_table tr.even > th {
  border-left: 1px solid #C1DAD7;
  border-top: 0;
  background: #f5fafa url(/images/bullet2.gif) no-repeat;
  font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #797268;
}

.smart_table tr th.nobg {
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #C1DAD7;
  background: none;
}

.id {
  /*background: #f5fafa url(/images/bullet2.gif) no-repeat;*/
  text-align: right;
  padding: 5px;
  margin: 0 auto;
}

