<%= link_to 'List', :action => 'list' %>

<h1>Confirmation</h1>

<p>
Your splayd is now registered.
</p>
<p>
Now, you only need to put the key into <u>settings.lua</u>.
</p>
<p>
<b>Key: <u><%= @splayd.key %></u></b>
</p>
<p>
NB: You will see your Splayd in the list, after it has connected the
controller the first time.
</p>
