<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>SplayWeb</title>
  <%= stylesheet_link_tag 'default' %>
  <%= stylesheet_link_tag 'syntax' %>
  <%= stylesheet_link_tag 'ui.tabs' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.ui.all.packed' %>
	<%= javascript_include_tag 'shCore' %>
	<%= javascript_include_tag 'shBrushLua' %>

<%#  <!--[if lt IE 7.]>%>
<%#  <script defer type="text/javascript" src="javascripts/pngfix.js"></script>%>
<%#  <![endif]-->%>

<!-- tabs -->
<script type="text/javascript">
//<![CDATA[
  $(document).ready(function(){
    $("#my_tabs > ul").tabs();
  });
//]]>
</script>

<!-- add style to tables -->
<script type="text/javascript">
//<![CDATA[
  $(document).ready(function(){
    $('tbody tr:nth-child(even)').addClass('even');
    $('tbody tr:nth-child(odd)').addClass('odd');
  });
//]]>
</script>

<!-- syntax highlighting -->
<script type="text/javascript">
//<![CDATA[
  window.onload = function () {
    dp.SyntaxHighlighter.HighlightAll('code');
  }
//]]>
</script>

</head>
<body>

<!--
SPLAYweb
Copyright 2006 - 2008 Lorenzo Leonini (University of Neuchâtel, Switzerland)
All rights reserved.
-->

<%= render :file => "layouts/top.rhtml" %>

<p style="color: green"><%= flash[:notice] %></p>
<%= yield  %>

<%= render :file => "layouts/bottom.rhtml" %>

<% if SplayController::mode != "local" and SplayController::mode != "live" %>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
  </script>
  <script type="text/javascript">
    _uacct = "<%= SplayController::google_urchin %>";
  urchinTracker();
  </script>
<% end %>
</body>
</html>
